:root {
  --white: #ffffff; 
  --black: #000000;
  --light-blue: #F7FAFE;
  --dark-blue: #3365DE;
  --hover-btn: #6389E7; 
}

/* Global */

html {
  scroll-behavior: smooth;
}

.page-body  {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  min-height: 100%;
}

a {
  text-decoration: none;
}

ul  {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: calc(100vw - 0px);
  margin: 0 auto;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  display: none;
}

p {
  margin: 0;
  padding: 0;
}

input {
  border-width: 0px;
  border-color: transparent;
  margin: 0;
  padding: 0;
}

button {
  border-width: 0;

}


/* Title */

.title {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
}

/* Link */

.link {
  color: var(--black);
  line-height: 36px;
}

/* Header */

.header {
  background-color: var(--light-blue);
}

.header__content {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
}


/* Menu */

.menu__list {
  display: flex;
}

.menu__item {
  margin-right: 80px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  color: var(--black);
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  color: var(--black);
}

/* About */

.about {
  background-color: var(--light-blue);
}

.about__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 600px;
  padding-top: 20px;
}

.about__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 116px;
  padding-right: 66px;
  padding-left: 110px;
}

.about__title {
  text-align: left;
  margin-bottom: 20px;
}

.about__text {
  margin-bottom: 40px;
}

.page__about {
    margin-bottom: 80px;
}


/* Button */

.button {
  background-color: var(--dark-blue);
  padding: 18px 40px;
  color: var(--white);
  border-radius: 12px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

}

.button:hover {
  background-color: var(--hover-btn);
}

/* Services */

.services__list {
  display: flex;
}

.services__title {
  margin-bottom: 80px;
}

.services__list {
  display: flex;
  justify-content: center;
}

.services__item {
  margin-right: 60px;
}

.services__item:last-child {
  margin-right: 0;
}

.page__services {
  margin-bottom: 120px;
}

/* Advantages */

.advantages {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 120px;
}

.advantages__title {
  margin-bottom: 40px;
}

.advantages__text {
  width: 820px;
  line-height: 40px;
  margin-bottom: 40px;
  align-self: center;
}

.advantages__text:last-child {
  margin-bottom: 0;
}

/* Features */

/* .features {
  text-align: center;
} */

.features__title {
  margin-bottom: 40px;
}

.features__arrows {
  margin-bottom: 40px;
}

.page__features {
  margin-bottom: 120px;
}

/* Slider */

.slider {
  display: flex;

}

.slider__item {
  width: 325px;
  background-color: var(--light-blue);
  border-radius: 20px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  text-align: left;
  min-width: 325px;
  max-width: 325px;
  margin-right: 20px;
}

.slider__number {
  margin-bottom: 20px;
  color: var(--dark-blue);
  font-size: 28px;
  
}

/* Clients */

.clients__title {
  margin-bottom: 80px;
}

.page__clients {
  margin-bottom: 100px;
}

.clients__list {
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  gap: 80px;
}

/* Video */

.page__video {
  margin-bottom: 100px;
}

.video__grid {
  display: grid;
  grid-template-columns: 2fr 1fr;

}

.video__player {
  background-color: var(--black);
}

.video__title {
  margin-bottom: 80px;
}

.video__text-wrap {
  width: 80%;
}

.video__text {
  text-align: left;
  margin-bottom: 40px;
}

/* Reviews */

.reviews__title {
  margin-bottom: 60px;
}

.reviews__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.reviews__item {
  background-color: var(--light-blue);
  padding: 40px;
  border-radius: 20px;

}

.reviews__name {
  font-weight: 500;
}

.reviews__header {
  margin-bottom: 20px;
}

.page__reviews {
  margin-bottom: 120px;
}


/* Feedback */

.feedback__form-content {
  width: 893px;
  margin: 0 auto;
  padding-top: 12px;
  padding-bottom: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, 120px);
  grid-template-areas: "email phone"
                        "name  company"
                        "comment  comment"
                        "checkbox ."
                        "button .";
                        
  column-gap: 100px;
  align-items: end;

}

.feedback__form-item {
  height: 125px;
  align-self: end;
}

.feedback__form {
  background-color: var(--light-blue);
}

.feedback__title {
  margin-bottom: 60px;
}

.feedback__email {
  grid-area: email;
}

.feedback__phone {
  grid-area: phone;
}

.feedback__name {
  grid-area: name;
}

.feedback__company {
  grid-area: company;
}

.feedback__comment {
  grid-area: comment;
}

.feedback__checkbox {
  grid-area: checkbox;
}

.button {
  grid-area: button;
}


.feedback__form-input {
  border-bottom-width: 1px;
  border-color: var(--black);
  width: 100%;
  height: 50px;
  background-color: var(--dark-blue);
}

.feedback__form-input::placeholder {
  color: var(--black);
  line-height: 24px;
  
}

.feedback__button {
  justify-self: start;
}

/* Footer */

.footer {
  padding-bottom: 50px;
}

.page__footer {
  margin-top: 80px;
}

.footer__title {
  margin-bottom: 30px;
}

.footer__content {
  text-align: center;
}

/* Media */

@media (min-width: 1399px)  {
  .container {
    width: 1280px;
  } 

}

